@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  font-family: 'Press Start 2P', cursive;
  
}
.login-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
   

}

.login-id{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login-id img {
    width: 100px;
}
.login-id h1{
    color: #333;
    font-size: 1.5em;
}
.login-input {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
}
.login-button{
    background-color: #ee665c;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 14px;
    max-width: 300px;
    width: 100%;
}
.login-button:disabled{
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}